<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Admin panel</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="d-flex justify-content-center">
    <h1>Main Admin Panel</h1>
  </div>
  <div class="d-flex justify-content-around mt-5">
    <form method="get" action="/admin5">
      <button type="submit" class="btn btn-primary" >5th SEM</button>
    </form>
    <form method="get" action="/admin7">
      <button type="submit" class="btn btn-primary">7th SEM</button>
    </form>
  </div>
</body>
</html>